.playerCard{
    display: flex;
    width: 80%;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3rem;
    border-radius: 20px ;
    padding:0.5rem
}

.active{
    background-color: #4c72af;
    color: white;
}